In [4]:
import numpy as np
import pandas as pd

In [56]:
df_scraped = pd.read_csv("../Webscrape_Data/scraped_data.csv")
print(len(list(df_scraped["Url_Key"].unique())))
print(df_scraped.shape)
df_scraped.tail()

153
(213, 130)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Jose,Details About Daniel,Details About Maria,Details About Sylvia,Details About Margarita,Details About Gilbert,Details About Linda,Details About Della D,Details About Adam,Details About Josh
208,100003256121116,NaN,Scraper Copy3 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,100003256121116,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Adam Martinez Jr.,3,"Lives in San Antonio, Texas","From Lubbock, Texas",Single,Followed by 10 people,NaN,No workplaces to show\nNo schools to show\nLiv...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nSingle\nFamily members\nNo famil...,NaN
210,100010222215384,NaN,Scraper Copy3 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,100010222215384,https://scontent-sjc3-1.xx.fbcdn.net/v/t31.181...,Josh LeBlanc,1,NaN,NaN,NaN,NaN,NaN,No workplaces to show\nNo schools to show\nNo ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Josh\nNo additional details to show\nNam...
212,100030041290349,NaN,Scraper Copy3 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## The Actual Cleaning Process

In [19]:
df_scraped["Name"] = df_scraped["Name"].fillna("Scraper Failure Mystery")
df_cleaned = df_scraped[~df_scraped['Name'].str.startswith("Scrape")]

In [20]:
# List of column names to merge
column_names_to_merge = [col for col in df_cleaned.columns if col.startswith('Details About ')]

# Merging the specified columns into one
df_cleaned['Details About Profile (About)'] = df_cleaned[column_names_to_merge].apply(
    lambda row: ' '.join(row.values.astype(str)).replace("nan", "").strip(" "), axis=1)

# Optionally, drop the original 'Column_' columns
df_cleaned = df_cleaned.drop(column_names_to_merge, axis=1)

<ipython-input-20-e9bda6028713>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Details About Profile (About)'] = df_cleaned[column_names_to_merge].apply(

In [21]:
df_cleaned["First Name"] = df_cleaned["Name"].map(lambda x: x.split(" ")[0])

In [22]:
df_cleaned["Last Name"] = df_cleaned["Name"].map(lambda x: x.strip(" ").split(" ")[-1])

In [23]:
df_cleaned = df_cleaned.rename({
    "Work and education"       : "Work & Education (About)",
    "Places lived"             : "Places Lived (About)",
    "Contact and basic info"   : "Contact and basic info (About)",
    "Family and relationships" :"Family & Relationships (About)",
    "Life events"              : "Life Events (About)"}, axis = 1)

In [52]:
df_cleaned

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Intro 8,Privacy and legal info,Profile transparency,Intro 9,Intro 10,Intro 11,First Name,Last Name,Intro 12,Intro 13
0,596897507,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444.0,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,...,NaN,NaN,NaN,NaN,NaN,NaN,Sarah,Murphy,NaN,NaN
1,1456394131,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Alida Colborn Canion,92.0,Worked at USAA,Studied at UTSA,Went to Roosevelt High School,NaN,NaN,Worked at USAA\nStudied at UTSA\nGraduated in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Alida,Canion,NaN,NaN
2,100016005185942,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Austin Anthony Duerr (Texas Tony),170.0,Tow Operator at AAA,Valet Attendant at Towne Park,Former Delivery at DoorDash,Went to La Vernia ISD,"Lives in Somerset, Texas",Tow Operator at AAA and Valet Attendant at Tow...,...,Joined March 2017,NaN,NaN,NaN,NaN,NaN,Austin,Tony),NaN,NaN
3,100009325868432,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,George Gomez,688.0,Went to Lanier High School (San Antonio),"Lives in San Antonio, Texas","From San Antonio, Texas",Single,NaN,No workplaces to show\nWent to Lanier High Sch...,...,NaN,NaN,NaN,NaN,NaN,NaN,George,Gomez,NaN,NaN
4,1332364398,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Maria Garza,105.0,Studied Accountancy at Lincoln School of Commerce,Went to Lincoln Northeast High School,Married,NaN,NaN,No workplaces to show\nStudied Accountancy at ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Maria,Garza,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,100001375621471,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Rosie Jimenez Lopez,92,NaN,NaN,NaN,NaN,NaN,No workplaces to show\nNo schools to show\nLiv...,...,NaN,NaN,NaN,NaN,NaN,NaN,Rosie,Lopez,NaN,NaN
819,1215423103,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Katie Pickering,458,"Lives in San Antonio, Texas","From Lake Arrowhead, California",NaN,NaN,NaN,No workplaces to show\nNo schools to show\nLiv...,...,NaN,NaN,NaN,NaN,NaN,NaN,Katie,Pickering,NaN,NaN
823,100005055427768,https://scontent-sjc3-1.xx.fbcdn.net/v/t31.181...,Bill Thomas,173,Owner at Just In Time Inspection Services,Worked at United States Air Force,"Studied at Park College, Parkville, Missouri",Went to Hoosick Falls Junior/Senior High School,Studied Human resource management at Park Univ...,Owner at Just In Time Inspection Services\nPas...,...,Married to Brenda K Thomas,NaN,NaN,NaN,NaN,NaN,Bill,Thomas,NaN,NaN
825,100009855157720,https://scontent-sjc3-1.xx.fbcdn.net/v/t31.181...,Mitra Razavi,37,"Lives in San Antonio, Texas",Pronounces name MEE-truh RAH-zah-vee,Followed by 21 people,NaN,NaN,No workplaces to show\nNo schools to show\nLiv...,...,NaN,NaN,NaN,NaN,NaN,NaN,Mitra,Razavi,NaN,NaN
833,100000294556753,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,David Anderson,305,Studied at New Mexico State University,Studied at Utah State University,Pronounces name AW-e-sum AN-der-sun,Joined September 2009,NaN,No workplaces to show\nStudied at New Mexico S...,...,NaN,NaN,NaN,NaN,NaN,NaN,David,Anderson,NaN,NaN

In [53]:
df_cleaned.to_csv("../Webscrape_Data/Terra_Riley_Facebook_Test_Final.csv", index = False)

# Code Recycling

df_sample = pd.read_csv("./data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

df_scraped = pd.read_csv('./data/scraped_data.csv')

df_sample = pd.read_csv("../Webscrape_Data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

In [57]:
pd.read_csv("../Webscrape_Data/scraped_data.csv")

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Layton,Details About Minga,Details About Presley,Details About Martin,Details About Genevieve,Details About Zoe,Details About Optic,Details About Hugo Eloy,Details About Mike,Details About Laura
0,5.968975e+08,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444.0,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000284e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.456394e+09,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Alida Colborn Canion,92.0,Worked at USAA,Studied at UTSA,Went to Roosevelt High School,NaN,NaN,Worked at USAA\nStudied at UTSA\nGraduated in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.000160e+14,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Austin Anthony Duerr (Texas Tony),170.0,Tow Operator at AAA,Valet Attendant at Towne Park,Former Delivery at DoorDash,Went to La Vernia ISD,"Lives in Somerset, Texas",Tow Operator at AAA and Valet Attendant at Tow...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.000093e+14,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,George Gomez,688.0,Went to Lanier High School (San Antonio),"Lives in San Antonio, Texas","From San Antonio, Texas",Single,NaN,No workplaces to show\nWent to Lanier High Sch...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,1.000014e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,1.000014e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,1.000145e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,1.000145e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,1.000125e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN