In [49]:
import numpy as np
import pandas as pd

In [55]:
df_scraped.to_csv("../Webscrape_Data/scraped_data.csv", index = False)

print(df_scraped.shape)
df_scraped.tail()

(369, 230)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Tina,Details About Layton,Details About Minga,Details About Presley,Details About Martin,Details About Genevieve,Details About Zoe,Details About Optic,Details About Hugo Eloy,Details About Mike
364,1.000140e+14,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,1.000140e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,1.846154e+09,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,1.846154e+09,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Mike Cervera,316.0,"Lives in San Antonio, Texas","From San Antonio, Texas",Single,Followed by 1 person,NaN,rolloff driver at Republic service of San Anto...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Mike\nNo additional details to show\nNam...
368,1.000242e+14,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## The Actual Cleaning Process

In [21]:
df_cleaned = df_scraped[~df_scraped['Name'].str.startswith("Scrape")]

In [22]:
# List of column names to merge
column_names_to_merge = [col for col in df_cleaned.columns if col.startswith('Details About ')]

# Merging the specified columns into one
df_cleaned['Details About Profile (About)'] = df_cleaned[column_names_to_merge].apply(
    lambda row: ' '.join(row.values.astype(str)).replace("nan", "").strip(" "), axis=1)

# Optionally, drop the original 'Column_' columns
df_cleaned = df_cleaned.drop(column_names_to_merge, axis=1)

In [35]:
df_cleaned["First Name"] = df_cleaned["Name"].map(lambda x: x.split(" ")[0])

In [36]:
df_cleaned["Last Name"] = df_cleaned["Name"].map(lambda x: x.strip(" ").split(" ")[-1])

In [37]:
df_cleaned = df_cleaned.rename({
    "Work and education"       : "Work & Education (About)",
    "Places lived"             : "Places Lived (About)",
    "Contact and basic info"   : "Contact and basic info (About)",
    "Family and relationships" :"Family & Relationships (About)",
    "Life events"              : "Life Events (About)"}, axis = 1)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Intro 7,Intro 8,Privacy and legal info,Profile transparency,Intro 9,Intro 10,Intro 11,Details About Profile (About),First Name,Last Name
0,596897507,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444.0,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nMatt Murphy\nMarried to Matt Mur...,Sarah,Murphy
2,1456394131,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Alida Colborn Canion,92.0,Worked at USAA,Studied at UTSA,Went to Roosevelt High School,NaN,NaN,Worked at USAA\nStudied at UTSA\nGraduated in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Alida\nNo additional details to show\nNa...,Alida,Canion
3,100016005185942,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Austin Anthony Duerr (Texas Tony),170.0,Tow Operator at AAA,Valet Attendant at Towne Park,Former Delivery at DoorDash,Went to La Vernia ISD,"Lives in Somerset, Texas",Tow Operator at AAA and Valet Attendant at Tow...,...,Pronounces name AWS-ten AN-thuh-nee DOO-er,Joined March 2017,NaN,NaN,NaN,NaN,NaN,About Austin\nNo additional details to show\nN...,Austin,Tony)
4,100009325868432,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,George Gomez,688.0,Went to Lanier High School (San Antonio),"Lives in San Antonio, Texas","From San Antonio, Texas",Single,NaN,No workplaces to show\nWent to Lanier High Sch...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About George\nNo additional details to show\nN...,George,Gomez
6,1332364398,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Maria Garza,105.0,Studied Accountancy at Lincoln School of Commerce,Went to Lincoln Northeast High School,Married,NaN,NaN,No workplaces to show\nStudied Accountancy at ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Maria\nNo additional details to show\nNa...,Maria,Garza
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,528897913,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Claudia Ma. Laporta,374.0,Went to Instituto Rudyard Kipling,NaN,NaN,NaN,NaN,No workplaces to show\nWent to Instituto Rudya...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Claudia\nNo additional details to show\n...,Claudia,Laporta
587,1293337805,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Roger Buchhorn,238.0,CFO at Drash Contracting Company LLC,Studied Accountancy at Texas Lutheran University,Went to Victoria Stroman High School,Married to Beverly Buchhorn,NaN,CFO at Drash Contracting Company LLC\nMay 2013...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nBeverly Buchhorn\nMarried to Bev...,Roger,Buchhorn
591,100022936776921,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.3049...,Rodolfo Reyes,24.0,NaN,NaN,NaN,NaN,NaN,No workplaces to show\nNo schools to show\nNo ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nNo relationship info to show\nFa...,Rodolfo,Reyes
595,1835068298,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Benjamin Stanush,961.0,Electrical manager at Diamondback Electrical S...,Studies Construction Business Management at Ro...,Went to La Vernia ISD,"Lives in New Braunfels, Texas","From La Vernia, Texas",Electrical manager at Diamondback Electrical S...,...,Joined June 2009,NaN,NaN,NaN,NaN,NaN,NaN,About Benjamin\nI'm a Journeymen Electrician. ...,Benjamin,Stanush
608,1497157945,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Angela Hogan Brown,192.0,Studied Business Admin w/specialization in Per...,Went to Blessed Sacrament Academy,"Lives in San Antonio, Texas","From San Antonio, Texas",Divorced,No workplaces to show\nStudied Business Admin ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nDivorced\nFamily members\nCassid...,Angela,Brown

In [ ]:
df_cleaned("../Webscrape_Data/Terra_Riley_Facebook_Test_Final.csv", index = False)

# Code Recycling

df_sample = pd.read_csv("./data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

df_scraped = pd.read_csv('./data/scraped_data.csv')

df_sample = pd.read_csv("../Webscrape_Data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

In [57]:
pd.read_csv("../Webscrape_Data/scraped_data.csv")

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Layton,Details About Minga,Details About Presley,Details About Martin,Details About Genevieve,Details About Zoe,Details About Optic,Details About Hugo Eloy,Details About Mike,Details About Laura
0,5.968975e+08,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444.0,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000284e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.456394e+09,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Alida Colborn Canion,92.0,Worked at USAA,Studied at UTSA,Went to Roosevelt High School,NaN,NaN,Worked at USAA\nStudied at UTSA\nGraduated in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.000160e+14,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Austin Anthony Duerr (Texas Tony),170.0,Tow Operator at AAA,Valet Attendant at Towne Park,Former Delivery at DoorDash,Went to La Vernia ISD,"Lives in Somerset, Texas",Tow Operator at AAA and Valet Attendant at Tow...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.000093e+14,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,George Gomez,688.0,Went to Lanier High School (San Antonio),"Lives in San Antonio, Texas","From San Antonio, Texas",Single,NaN,No workplaces to show\nWent to Lanier High Sch...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,1.000014e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,1.000014e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,1.000145e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,1.000145e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,1.000125e+14,NaN,Scraper Copy2 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN