In [31]:
# Standard Imports for all notebooks
import pandas as pd
import numpy as np

# Scraping Libraries
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from time import sleep
import re
from random import randint
from selenium.webdriver.firefox.options import Options

# Specific Imports as a result of ChatGPT's Suggested Code Functions
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, TimeoutException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [32]:
def click_with_retry(driver, css_selector, max_attempts=5, wait_time=10, extra_scroll=150):
    """
    Tries to find and click an element specified by the CSS selector.
    Waits for the element to be visible and clickable.
    Retries up to max_attempts times if StaleElementReferenceException is encountered.

    :param driver: The Selenium WebDriver.
    :param css_selector: CSS selector of the element to be clicked.
    :param max_attempts: Maximum number of attempts to try clicking the element.
    :param wait_time: Time to wait for the element to become visible and clickable.
    :return: True if click was successful, False if it failed after max_attempts.
    """
    for attempt in range(max_attempts):
        try:
            # Wait for the element to be visible
            element = WebDriverWait(driver, wait_time).until(
                EC.visibility_of_element_located((By.CSS_SELECTOR, css_selector))
            )

            # Scroll the element into view with extra space
            driver.execute_script("window.scroll(0, arguments[0].getBoundingClientRect().top + window.pageYOffset - arguments[1]);", element, extra_scroll)

            # Wait for the element to be clickable
            WebDriverWait(driver, wait_time).until(
                EC.element_to_be_clickable((By.CSS_SELECTOR, css_selector))
            )

            # Click the element
            element.click()
            return True

        except (StaleElementReferenceException, TimeoutException):
            pass

    return False

In [33]:
def get_text_with_retry(driver, css_selector, max_attempts=5, wait_time=10, extra_scroll=150):
    """
    Tries to find an element specified by the CSS selector and get its text.
    Waits for the element to be visible.
    Retries up to max_attempts times if StaleElementReferenceException is encountered.

    :param driver: The Selenium WebDriver.
    :param css_selector: CSS selector of the element.
    :param max_attempts: Maximum number of attempts to try getting the text.
    :param wait_time: Time to wait for the element to become visible.
    :return: The text of the element if successful, None if it failed after max_attempts.
    """
    for attempt in range(max_attempts):
        try:
            # Wait for the element to be visible
            element = WebDriverWait(driver, wait_time).until(
                EC.visibility_of_element_located((By.CSS_SELECTOR, css_selector))
            )

            # Scroll the element into view with extra space
            driver.execute_script(
                "window.scroll(0, arguments[0].getBoundingClientRect().top + window.pageYOffset - arguments[1]);", 
                element, extra_scroll)

            # Return the text of the element
            return element.text

        except (StaleElementReferenceException, NoSuchElementException, TimeoutException):
            pass

    return None

In [81]:
# Open the Selenium Window
fun_options = Options()
fun_driver = webdriver.Firefox(options=fun_options)
fun_driver.get("https://www.facebook.com/")

In [59]:
df_sample = pd.read_csv("./data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])
#df_sample = pd.DataFrame(data)
df_sample['Url_Key'] = df_sample['Url_Key'].astype(str)

df_sample.head()

C:\Users\Peridot of Earth\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Other_Number,Url_Key,Name_First,Name_Last,Gender,1,2,3,4,5,6,7,8,9
0,12102965600,596897507,Sarah,Murphy,female,"San Antonio, Texas","San Antonio, Texas",Married,Stay-at-home mom,12/5/2018 12,0.0,00 AM,NaN,NaN
1,12102965601,100028359581007,Victor,Ortiz,male,NaN,NaN,NaN,NaN,1/1/0001 12,0.0,00 AM,NaN,NaN
2,12102965607,1456394131,Alida,Canion,female,NaN,NaN,NaN,USAA,12/7/2015 12,0.0,00 AM,NaN,NaN
3,12102965613,100016005185942,Austin,Duerr,male,"Somerset, Texas","San Antonio, Texas",NaN,AAA,11/29/2018 12,0.0,00 AM,NaN,NaN
4,12102965614,100009325868432,George,Gomez,male,"San Antonio, Texas","San Antonio, Texas",Single,NaN,11/19/2018 12,0.0,00 AM,NaN,NaN

In [75]:
df_scraped = pd.read_csv("./data/scraped_data.csv")
df_scraped.tail(5)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Betty,Details About Jorge Alan,Details About Claudia,Details About Morris,Details About Linda,Details About Nadia,Details About Ignacio,Details About Iris,Details About Victor,Details About Sylvia
105,100005286972887,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Iris NTony Barrera,926.0,NaN,NaN,NaN,NaN,NaN,"Teacher at Edgewood ISD - San Antonio, Texas\n...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Relationship\nMarried since March 8, 2008\nFam...",NaN,NaN
106,1024645391,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,100013396143349,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Victor McCord,186.0,"Worked at VA Medical Center-Temple,TX",Studied at Sam Houston State University,Went to Richard King High School,"Lived in Temple, Texas","From Corpus Christi, Texas","Worked at VA Medical Center-Temple,TX\nJune 18...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Victor\nNo additional details to show\nN...,NaN
108,100015290598679,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Sylvia Casarez-Valle,96.0,NaN,NaN,NaN,NaN,NaN,No workplaces to show\nNo schools to show\nNo ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nNo relationship info to show\nFa...
109,1383668282,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for Url_Key in df_sample['Url_Key']:
    sleep(0.5 + randint(10,9999999)/10000000)
    # Check if Url_Key is not in df_scraped
    df_scraped = pd.read_csv("./data/scraped_data.csv")
    df_scraped['Url_Key'] = df_scraped['Url_Key'].astype(str)
    Url_Key = str(Url_Key)
    if Url_Key not in df_scraped['Url_Key'].values:
        
        # Calling Dibs on this profile
        dict_person = {"Url_Key": Url_Key, "Name" : "Scraper 1 has dibs!"}
        df_scraped = pd.concat([df_scraped, 
            pd.DataFrame(dict_person, index=[0])], ignore_index=True)
        df_scraped.to_csv("./data/scraped_data.csv", index = False)
        
        
        fun_driver.get("https://www.facebook.com/" + Url_Key)
        # Gather data using Url_Key
        dict_person = {"Url_Key" : Url_Key}
        try:
            # Obtain Profile Picture
            dict_person["Profile Picture Link"] = fun_driver.find_element(by="css selector", 
                value = "a.xzsf02u > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > image:nth-child(1)"
                ).get_attribute("xlink:href")

            # Obtain Name
            dict_person["Name"] = get_text_with_retry(fun_driver, ".x14qwyeo > h1:nth-child(1)")

            # Obtain Number of Friends
            dict_person["Num_Friends"] = int(get_text_with_retry(fun_driver, "a.xi81zsa").split(" ")[0])

            # Obtain Intro Lines
            html_current = BeautifulSoup(fun_driver.page_source, "lxml")
            list_intro_el = html_current.select(
                "div.x7wzq59:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) >"
                + " div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) >"
                + " ul:nth-child(1) > div")
            for num in range(len(list_intro_el)):
                dict_person["Intro " + str(num + 1)] = list_intro_el[num].text
                #print(list_intro_el[num].text)


            # Click About Tab
            click_with_retry(fun_driver, "a.x1i10hfl:nth-child(3) > div:nth-child(1) > span:nth-child(1)")
            #Get Overview Section First
            dict_person["Overview (About)"] = get_text_with_retry(fun_driver, ".xqmdsaz")
            
            # Obtain About Section
            for num in range(3, 9):
                css_selector_to_click = ".x16jcvb6 > div:nth-child(" + str(num) + ") > a:nth-child(1)"
                click_with_retry(fun_driver, css_selector_to_click)
                el_temp = fun_driver.find_element(by="css selector", value=css_selector_to_click)
                el_temp_text = el_temp.text
                css_path_content = ".xqmdsaz"
                content_text = get_text_with_retry(fun_driver, css_path_content)
                if content_text is not None:
                    dict_person[el_temp_text] = content_text
                    #print("element's text hath been saved!")
                else:
                    print("Failed to retrieve text for element:", el_temp_text)
        except:
            dict_person = {"Url_Key": Url_Key, "Name" : "Scrape Failed"}
        
        
        # Append the new data to df_scraped
        df_scraped = pd.concat([df_scraped, 
            pd.DataFrame(dict_person, index=[0])], ignore_index=True)
        df_scraped.to_csv("./data/scraped_data.csv", index = False)
    
    else:
        # Skip the data gathering process
        print(f"URL key {Url_Key} already exists in df_scraped, skipping data gathering.")

URL key 596897507 already exists in df_scraped, skipping data gathering.
URL key 100028359581007 already exists in df_scraped, skipping data gathering.
URL key 1456394131 already exists in df_scraped, skipping data gathering.
URL key 100016005185942 already exists in df_scraped, skipping data gathering.
URL key 100009325868432 already exists in df_scraped, skipping data gathering.
URL key 100000816665642 already exists in df_scraped, skipping data gathering.
URL key 1332364398 already exists in df_scraped, skipping data gathering.
URL key 100001903893043 already exists in df_scraped, skipping data gathering.
URL key 1176820391 already exists in df_scraped, skipping data gathering.
URL key 1492133068 already exists in df_scraped, skipping data gathering.
URL key 100007398875957 already exists in df_scraped, skipping data gathering.
URL key 620962824 already exists in df_scraped, skipping data gathering.
URL key 100012369630553 already exists in df_scraped, skipping data gathering.
URL key 100002472819691 already exists in df_scraped, skipping data gathering.
URL key 100006173103626 already exists in df_scraped, skipping data gathering.
URL key 1534680025 already exists in df_scraped, skipping data gathering.
URL key 100002157457935 already exists in df_scraped, skipping data gathering.
URL key 100004076081283 already exists in df_scraped, skipping data gathering.
URL key 1614400498 already exists in df_scraped, skipping data gathering.
URL key 100003014471974 already exists in df_scraped, skipping data gathering.
URL key 100015110614808 already exists in df_scraped, skipping data gathering.
URL key 100007334431871 already exists in df_scraped, skipping data gathering.
URL key 1439300531 already exists in df_scraped, skipping data gathering.
URL key 530564022 already exists in df_scraped, skipping data gathering.
URL key 100001470542942 already exists in df_scraped, skipping data gathering.
URL key 100002147105590 already exists in df_scraped, skipping data gathering.
URL key 100001322273594 already exists in df_scraped, skipping data gathering.
URL key 100030011204103 already exists in df_scraped, skipping data gathering.
URL key 100016689155244 already exists in df_scraped, skipping data gathering.
URL key 100015501282735 already exists in df_scraped, skipping data gathering.
URL key 100002523411969 already exists in df_scraped, skipping data gathering.
URL key 1536324458 already exists in df_scraped, skipping data gathering.
URL key 100000685680938 already exists in df_scraped, skipping data gathering.
URL key 100006299070220 already exists in df_scraped, skipping data gathering.
URL key 100015315091942 already exists in df_scraped, skipping data gathering.
URL key 100029243739700 already exists in df_scraped, skipping data gathering.
URL key 100000558933956 already exists in df_scraped, skipping data gathering.
URL key 100024863707960 already exists in df_scraped, skipping data gathering.
URL key 100014771977207 already exists in df_scraped, skipping data gathering.
URL key 100012552762940 already exists in df_scraped, skipping data gathering.
URL key 100023403651326 already exists in df_scraped, skipping data gathering.
URL key 100014276734566 already exists in df_scraped, skipping data gathering.
URL key 1624317525 already exists in df_scraped, skipping data gathering.
URL key 100012944562242 already exists in df_scraped, skipping data gathering.
URL key 1348957581 already exists in df_scraped, skipping data gathering.
URL key 100012905439141 already exists in df_scraped, skipping data gathering.
URL key 1079942548 already exists in df_scraped, skipping data gathering.
URL key 100028014167086 already exists in df_scraped, skipping data gathering.
URL key 100001299159082 already exists in df_scraped, skipping data gathering.
URL key 100010679745179 already exists in df_scraped, skipping data gathering.
URL key 100025067146823 already exists in df_scraped, skipping data gathering.
URL key 100029077760565 already exists in df_scraped, skipping data gathering.
URL key 1541220075 already exists in df_scraped, skipping data gathering.
URL key 1116227316 already exists in df_scraped, skipping data gathering.
URL key 100001738218938 already exists in df_scraped, skipping data gathering.
URL key 100023890207507 already exists in df_scraped, skipping data gathering.
URL key 100008097431302 already exists in df_scraped, skipping data gathering.
URL key 100000100276241 already exists in df_scraped, skipping data gathering.
URL key 100001099482459 already exists in df_scraped, skipping data gathering.
URL key 1034922575 already exists in df_scraped, skipping data gathering.
URL key 100001270794925 already exists in df_scraped, skipping data gathering.
URL key 1422612112 already exists in df_scraped, skipping data gathering.
URL key 100002960830326 already exists in df_scraped, skipping data gathering.
URL key 100022957322696 already exists in df_scraped, skipping data gathering.
URL key 100002470216513 already exists in df_scraped, skipping data gathering.
URL key 100012172716077 already exists in df_scraped, skipping data gathering.
URL key 100003030198755 already exists in df_scraped, skipping data gathering.
URL key 2341374 already exists in df_scraped, skipping data gathering.
URL key 1785348257 already exists in df_scraped, skipping data gathering.
URL key 100005729760913 already exists in df_scraped, skipping data gathering.
URL key 100008641711591 already exists in df_scraped, skipping data gathering.
URL key 100001354347525 already exists in df_scraped, skipping data gathering.
URL key 100033028149864 already exists in df_scraped, skipping data gathering.
URL key 100000396210621 already exists in df_scraped, skipping data gathering.
URL key 100005502373291 already exists in df_scraped, skipping data gathering.
URL key 100002241216969 already exists in df_scraped, skipping data gathering.
URL key 100025990270303 already exists in df_scraped, skipping data gathering.
URL key 746050153 already exists in df_scraped, skipping data gathering.
URL key 100003716670077 already exists in df_scraped, skipping data gathering.
URL key 1507153635 already exists in df_scraped, skipping data gathering.
URL key 35700068 already exists in df_scraped, skipping data gathering.
URL key 1312288002 already exists in df_scraped, skipping data gathering.
URL key 100001554841889 already exists in df_scraped, skipping data gathering.
URL key 100023671986994 already exists in df_scraped, skipping data gathering.
URL key 100004499142779 already exists in df_scraped, skipping data gathering.
URL key 100012911462816 already exists in df_scraped, skipping data gathering.
URL key 100008231524112 already exists in df_scraped, skipping data gathering.
URL key 1705977842 already exists in df_scraped, skipping data gathering.
URL key 100001561901269 already exists in df_scraped, skipping data gathering.
URL key 100002507628728 already exists in df_scraped, skipping data gathering.
URL key 1586867440 already exists in df_scraped, skipping data gathering.
URL key 100002440081467 already exists in df_scraped, skipping data gathering.
URL key 100022819035571 already exists in df_scraped, skipping data gathering.
URL key 100012641199103 already exists in df_scraped, skipping data gathering.
URL key 1542783703 already exists in df_scraped, skipping data gathering.
URL key 100023660828232 already exists in df_scraped, skipping data gathering.
URL key 100010255891645 already exists in df_scraped, skipping data gathering.
URL key 100005286972887 already exists in df_scraped, skipping data gathering.
URL key 1615329336 already exists in df_scraped, skipping data gathering.
URL key 100001877117536 already exists in df_scraped, skipping data gathering.
URL key 100026736272330 already exists in df_scraped, skipping data gathering.
URL key 100027109280979 already exists in df_scraped, skipping data gathering.
URL key 100025770104440 already exists in df_scraped, skipping data gathering.
URL key 100022509513829 already exists in df_scraped, skipping data gathering.
URL key 100010086284813 already exists in df_scraped, skipping data gathering.
URL key 100028544986930 already exists in df_scraped, skipping data gathering.

URL key 100001200819096 already exists in df_scraped, skipping data gathering.
URL key 100009196077406 already exists in df_scraped, skipping data gathering.
URL key 1024645391 already exists in df_scraped, skipping data gathering.
URL key 100013396143349 already exists in df_scraped, skipping data gathering.
URL key 100015290598679 already exists in df_scraped, skipping data gathering.
URL key 1383668282 already exists in df_scraped, skipping data gathering.
URL key 100007970589604 already exists in df_scraped, skipping data gathering.
URL key 100002453679261 already exists in df_scraped, skipping data gathering.
URL key 100012575792921 already exists in df_scraped, skipping data gathering.
URL key 1634243144 already exists in df_scraped, skipping data gathering.
URL key 100019644214521 already exists in df_scraped, skipping data gathering.
URL key 100024449658884 already exists in df_scraped, skipping data gathering.
URL key 1336047083 already exists in df_scraped, skipping data gathering.
URL key 100005917021063 already exists in df_scraped, skipping data gathering.
URL key 100000940061973 already exists in df_scraped, skipping data gathering.
URL key 100003818216557 already exists in df_scraped, skipping data gathering.
URL key 1455827653 already exists in df_scraped, skipping data gathering.
URL key 100000052942781 already exists in df_scraped, skipping data gathering.
URL key 100027803708722 already exists in df_scraped, skipping data gathering.
URL key 100007313265431 already exists in df_scraped, skipping data gathering.
URL key 100004562581521 already exists in df_scraped, skipping data gathering.
URL key 100012182862892 already exists in df_scraped, skipping data gathering.
URL key 100000798524469 already exists in df_scraped, skipping data gathering.
URL key 100022148653570 already exists in df_scraped, skipping data gathering.
URL key 100008017694463 already exists in df_scraped, skipping data gathering.
URL key 100000564815201 already exists in df_scraped, skipping data gathering.
URL key 100008764963900 already exists in df_scraped, skipping data gathering.
URL key 1606582274 already exists in df_scraped, skipping data gathering.
URL key 533211958 already exists in df_scraped, skipping data gathering.
URL key 100001723306438 already exists in df_scraped, skipping data gathering.
URL key 636744001 already exists in df_scraped, skipping data gathering.
URL key 100002095456665 already exists in df_scraped, skipping data gathering.
URL key 1178910658 already exists in df_scraped, skipping data gathering.
URL key 25408852 already exists in df_scraped, skipping data gathering.
URL key 567454691 already exists in df_scraped, skipping data gathering.
URL key 100011643540675 already exists in df_scraped, skipping data gathering.
URL key 100003097279252 already exists in df_scraped, skipping data gathering.
URL key 100015394441793 already exists in df_scraped, skipping data gathering.
URL key 100031523730943 already exists in df_scraped, skipping data gathering.
URL key 100000136777609 already exists in df_scraped, skipping data gathering.
URL key 1131781499 already exists in df_scraped, skipping data gathering.
URL key 100003263270050 already exists in df_scraped, skipping data gathering.
URL key 100000512148257 already exists in df_scraped, skipping data gathering.
URL key 100014000177890 already exists in df_scraped, skipping data gathering.
URL key 100000235422831 already exists in df_scraped, skipping data gathering.
URL key 582043614 already exists in df_scraped, skipping data gathering.
URL key 100014065844556 already exists in df_scraped, skipping data gathering.
URL key 100007395375097 already exists in df_scraped, skipping data gathering.
URL key 1463173970 already exists in df_scraped, skipping data gathering.
URL key 100001204938973 already exists in df_scraped, skipping data gathering.
URL key 521155837 already exists in df_scraped, skipping data gathering.
URL key 100001723015746 already exists in df_scraped, skipping data gathering.
URL key 100008011037433 already exists in df_scraped, skipping data gathering.
URL key 719728778 already exists in df_scraped, skipping data gathering.
URL key 100006682264051 already exists in df_scraped, skipping data gathering.
URL key 100028221740736 already exists in df_scraped, skipping data gathering.
URL key 100001341744490 already exists in df_scraped, skipping data gathering.
URL key 1094958832 already exists in df_scraped, skipping data gathering.
URL key 100005782031190 already exists in df_scraped, skipping data gathering.
URL key 100023242032599 already exists in df_scraped, skipping data gathering.
URL key 100001029984156 already exists in df_scraped, skipping data gathering.

# Original Test Scraping

In [60]:
Url_Key = "596897507"

In [61]:
fun_driver.get("https://www.facebook.com/" + Url_Key)

In [62]:
dict_person = {}
# Need to obtain the following:
# Profile Picture

In [63]:
dict_person["Url_Key"] = Url_Key

In [64]:
# Obtain Profile Picture
dict_person["Profile Picture Link"] = fun_driver.find_element(by="css selector", 
    value = "a.xzsf02u > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > image:nth-child(1)"
    ).get_attribute("xlink:href")

In [65]:
# Obtain Name
dict_person["Name"] = get_text_with_retry(fun_driver, ".x14qwyeo > h1:nth-child(1)")

In [66]:
# Obtain Number of Friends
dict_person["Num_Friends"] = int(get_text_with_retry(fun_driver, "a.xi81zsa").split(" ")[0])

In [67]:
# Obtain Intro Lines
html_current = BeautifulSoup(fun_driver.page_source, "lxml")

list_intro_el = html_current.select(
    "div.x7wzq59:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) >"
    + " div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) >"
    + " ul:nth-child(1) > div")

for num in range(len(list_intro_el)):
    dict_person["Intro " + str(num + 1)] = list_intro_el[num].text
    print(list_intro_el[num].text)

Went to Ashland High School
Lives in San Antonio, Texas
From San Antonio, Texas
Married to Matt Murphy
Joined October 2007

In [68]:
# Click About Tab
click_with_retry(fun_driver, "a.x1i10hfl:nth-child(3) > div:nth-child(1) > span:nth-child(1)")

#Get Overview Section First
dict_person["Overview (About)"] = get_text_with_retry(fun_driver, ".xqmdsaz")

In [69]:

# Obtain About Section
for num in range(3, 9):
    print("---------------------------------")
    
    # CSS selector for the current element to click
    css_selector_to_click = ".x16jcvb6 > div:nth-child(" + str(num) + ") > a:nth-child(1)"
    
    # Clicking the next About Sub-Section
    click_with_retry(fun_driver, css_selector_to_click)
    
    # Re-find the element to avoid stale reference
    el_temp = fun_driver.find_element(by="css selector", value=css_selector_to_click)
    el_temp_text = el_temp.text
    print("temp el: " + el_temp_text + " clicked")
    
    # Consuming its informational content
    css_path_content = ".xqmdsaz"
    content_text = get_text_with_retry(fun_driver, css_path_content)
    if content_text is not None:
        dict_person[el_temp_text] = content_text
        print("element's text hath been saved!")
    else:
        print("Failed to retrieve text for element:", el_temp_text)

---------------------------------
temp el: Work and education clicked
element's text hath been saved!
---------------------------------
temp el: Places lived clicked
element's text hath been saved!
---------------------------------
temp el: Contact and basic info clicked
element's text hath been saved!
---------------------------------
temp el: Family and relationships clicked
element's text hath been saved!
---------------------------------
temp el: Details About Sarah clicked
element's text hath been saved!
---------------------------------
temp el: Life events clicked
element's text hath been saved!

In [70]:
df_scraped = pd.DataFrame(dict_person, index=[0])
df_scraped

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),Work and education,Places lived,Contact and basic info,Family and relationships,Details About Sarah,Life events
0,596897507,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,No workplaces to show\nWent to Ashland High Sc...,Work\nNo workplaces to show\nCollege\nNo schoo...,"Places lived\nSan Antonio, Texas\nCurrent city...",Contact info\nNo contact info to show\nWebsite...,Relationship\nMatt Murphy\nMarried to Matt Mur...,2017\nMarried Matt Murphy\n2011\nMatt Murphy a...

In [71]:
df_scraped.to_csv("./data/scraped_data.csv", index = False)

In [72]:
pd.read_csv("./data/scraped_data.csv")

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),Work and education,Places lived,Contact and basic info,Family and relationships,Details About Sarah,Life events
0,596897507,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,No workplaces to show\nWent to Ashland High Sc...,Work\nNo workplaces to show\nCollege\nNo schoo...,"Places lived\nSan Antonio, Texas\nCurrent city...",Contact info\nNo contact info to show\nWebsite...,Relationship\nMatt Murphy\nMarried to Matt Mur...,2017\nMarried Matt Murphy\n2011\nMatt Murphy a...

# Code Recycling

from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

def fun_extended_wait(css_selector, driver):
    locator = (By.CSS_SELECTOR, css_selector)
    try:
        # Wait for the element to be available and interact with it
        element = WebDriverWait(driver, 10).until(EC.presence_of_element_located(locator))
        # Perform actions with element
    except StaleElementReferenceException:
        # Element is stale, re-find or handle the exception
        element = WebDriverWait(driver, 10).until(EC.presence_of_element_located(locator))
        # Perform actions with refreshed element
    sleep(1 + randint(10,9999999)/10000000)
    return

for num in range(3,8):
    print("---------------------------------")
    
    # Clicking next About Sub-Section
    css_path = ".x16jcvb6 > div:nth-child(" + str(num) + ") > a:nth-child(1)"
    fun_extended_wait(css_path, fun_driver)
    sleep(3 + randint(10,9999999)/10000000)
    el_temp = fun_driver.find_element(by="css selector", value = css_path)
    el_temp.click()
    print("temp el: " + el_temp.text + " clicked")
    
    # Consuming it's informational meat
    css_path = ".xqmdsaz"
    fun_extended_wait(css_path, fun_driver)
    dict_person[el_temp.text] = fun_driver.find_element(by="css selector", value = css_path).text
    print("element's text hath been saved!")

In [2]:
#import matplotlib.pyplot as plt
#import seaborn as sns
#%matplotlib inline
#import warnings
#warnings.filterwarnings('ignore')

def open_browser(alt_user_name = 'Thank you for your website'):
    path = '../Garage/chromedriver'         # Path to Chromedriver
    return webdriver.Chrome(executable_path = path)

def open_browser(alt_user_name = 'Thank you for your website'):
    opts = Options()
    opts.add_argument("user-agent=" + str(alt_user_name))
    path = '../Garage/chromedriver'         # Path to Chromedriver
    return webdriver.Chrome(executable_path = path, options=opts)

for num in range(3,8):
    print("---------------------------------")
    
    # CSS selector for the current element to click
    css_selector_to_click = ".x16jcvb6 > div:nth-child(" + str(num) + ") > a:nth-child(1)"
    
    # Clicking the next About Sub-Section
    click_with_retry(fun_driver, css_selector_to_click)
    
    # Re-find the element to avoid stale reference
    el_temp = fun_driver.find_element(by="css selector", value=css_selector_to_click)
    print("temp el: " + el_temp.text + " clicked")
    
    # Consuming it's informational meat
    css_path = ".xqmdsaz"
    #fun_extended_wait(css_path, fun_driver)
    dict_person[el_temp.text] = fun_driver.find_element(by="css selector", value = css_path).text
    print("element's text hath been saved!")

fun_driver.find_element(by="css selector",
                        value = "a.x1i10hfl:nth-child(3) > div:nth-child(1) > span:nth-child(1)").click()

about_overview = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Overview (About)"] = about_overview
about_overview

##### #2 Work & Education

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(3) > a:nth-child(1)").click()

about_workanded = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Work & Education (About)"] = about_workanded
about_workanded

##### #3 Places Lived

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(4) > a:nth-child(1)").click()

about_placeslived = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Places Lived (About)"] = about_placeslived
about_placeslived
# Should be placed into a list

##### #4 Contact and basic info

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(5) > a:nth-child(1)").click()

about_contact = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Contact and basic info (About)"] = about_contact
about_contact

##### #5 Family and Relationships

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(6) > a:nth-child(1)").click()

about_family = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Family & Relationships (About)"] = about_family
about_family

##### #6 Details About

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(7) > a:nth-child(1)").click()

about_details = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Details About Profile (About)"] = about_details
about_details

##### #7 Life Events

fun_driver.find_element(by="css selector", value = ".x16jcvb6 > div:nth-child(8) > a:nth-child(1)").click()

In [ ]:
about_overview = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Overview (About)"] = about_overview
about_overview

In [ ]:
        # Calling Dibs on this profile
        dict_person = {"Url_Key": Url_Key, "Name" : "Scraper # has dibs!"}
        df_scraped = pd.concat([df_scraped, 
            pd.DataFrame(dict_person, index=[0])], ignore_index=True)
        df_scraped.to_csv("./data/scraped_data.csv", index = False)

about_lifeEvents = fun_driver.find_element(by="css selector", value = ".xqmdsaz").text
dict_person["Life Events (About)"] = about_lifeEvents
about_lifeEvents